CREATE TABLE consultations (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    \
patientId\ TEXT NOT NULL,
    \doctorName\ TEXT,
    department TEXT,
    date TEXT,
    time TEXT,
    type TEXT,
    status TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
